section{
    display: flex;
}

.green{
    background-color: green;
    width: 30%;
    height: 100px;
    margin: 10px;
}

.Yellow{
    background-color: yellow;
    width: 30%;
    height: 100px;
    margin: 10px;
}

.Red{
    background-color: red;
    width: 30%;
    height: 100px;
    margin: 10px;
}