img{
    
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-color: gray;
    box-shadow: 20px 30px;
      
    
}
.image-div{
    background-color: grey;
    height: 200px;
}

.profile{
    text-align: center;
    
}

.Desc{
    float: left;
}

.Address{
    float: right;
}

.detail{
    height: 500px;
    border: 2px solid blue;
    background-color: rgb(158, 165, 163);
}