img{
    
    width: 200px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    background-color: gray;
    box-shadow: 20px 30px blueviolet;
    
    
}
.image-div{
    background-color: grey;
    height: 200px;
    display: flex;
}

.profile{
    text-align: center;
    text-shadow: 5px 5px green;
    
}

.Desc{
    float: left;
    text-decoration: dotted;
}

.Address{
    float: right;
}

.detail{
    height: 400px;
    width: 500px;
    border: 2px solid blue;
    background-color: rgb(158, 165, 163);
    box-shadow: 20px 20px cornflowerblue;
    margin: 100px;
    border-radius: 10%;
    
}

p.Address{
    text-decoration:underline;
    text-align: right;
}